*{
    padding: 0;
    margin: 0;
}

.topbar{
    width: 100%;
    background-color: azure;
    position: fixed;
    top: 0;
}

.potato{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}